<el-button type="success" (click)='handleAdd()'>新增</el-button>
<el-table [model]="authList" [scroll-x]="true" center="all">
  <el-table-column model-key="id" label="id" width="140">
  </el-table-column>
  <el-table-column model-key="roleName" label="角色名称" width="140">
  </el-table-column>
   <el-table-column label="操作" width="120">
    <ng-template #slot let-scope="scope">
      <el-button type="text" size="small" (click)="handleEidt(scope)">编辑</el-button>
      <el-button type="text" size="small" (click)="handleDel(scope)">删除</el-button>
    </ng-template>
  </el-table-column>
</el-table>
<el-pagination [total]="page.recordTotal" [page-sizes]="[10,20,30,40]"
    [layout]="['prev', 'pager', 'next', 'size', 'total']"
    (modelChange)='handleChange($event)'>
</el-pagination>