.container{
	width: 538px;
	height: 618px;
	padding: 0 25px;
	margin: 10% auto 0;
	background: #efefef;
	border: 1px solid #eee;
	text-align: center;
}
.container h1{
	color: #0d4d90;
	font-size: 22px;
	font-weight: 400;
	margin-top: -80px;
}
.container .el-form{
	padding: 40px 88px 0;
}
.container .el-input-group__append, .el-input-group__prepend{
   padding: 0 5px;
   background-color: #fff;
}
.el-form-item__content .el-button {
	width: 100%;
	margin-top: 30px;
	height: 48px;
}
.rotate{
	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); 	/* IE 9 */
	-moz-transform:rotate(-90deg); 	/* Firefox */
	-webkit-transform:rotate(-90deg); /* Safari 和 Chrome */
	-o-transform:rotate(-90deg); 	/* Opera */
}