<el-button type='success' (click)='handleBack()'>返回</el-button>
<el-button type='success' (click)='handleSubmit()'>提交</el-button>

<el-form [formGroup]="taskFrm" label-width="150px" [show-message]="true" >
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='任务名称' [error]='messageCtrl("taskName")' [required]='true'>
        <el-input formControlName='taskName' placeholder='请输入企业名称'></el-input>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='数据采集起止时间' label-width='150px'>
        <div el-row>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("dataCollectStartDate")'>
                  <el-date-picker formControlName='dataCollectStartDate' placeholder='起始时间' (clear-click)='handleClearStart($event)'></el-date-picker>
            </el-form-item>
          </div>
          <div el-col span='2'>至</div>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("dataCollectEndDate")'>
                  <el-date-picker formControlName='dataCollectEndDate' placeholder='结束时间' (clear-click)='handleClearEnd($event)'></el-date-picker>
            </el-form-item>
          </div>
        </div>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='监测企业组' [error]='messageCtrl("comGroupId")' [required]='true'>
        <el-select formGroupName='comGroupId' placeholder='请选择企业组'
                   [clearable]='true' (modelChange)='handleGroupChange($event)'
                   popper-class='dmss-select'>
          <el-option *ngFor='let item of groupList'
                     [label]='item.groupName'
                     [value]='item.id'></el-option>
         </el-select>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='监测平台' [error]='messageCtrl("platCd")' [required]='true'>
        <el-select formGroupName='platCd' placeholder='请选择监测平台'
                   [multiple]='true' (modelChange)='handlePlatChange($event)'
                   popper-class='dmss-select'>
          <el-option *ngFor='let item of plateList'
                     [label]='item.platName'
                     [value]='item.platCd'></el-option>
       </el-select>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='关键词名称' [error]='messageCtrl("kwNameId")' [required]='true'>
        <el-select placeholder='请选择关键词名称' [multiple]='true'
                   formGroupName='kwNameId' (modelChange)='handleKeywordChange($event)'
                   popper-class='dmss-select'>
          <el-option *ngFor='let item of keywordList'
                     [label]='item.kwName'
                     [value]='item.kwNameId'></el-option>
         </el-select>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='附件'>
        <el-upload [action]='upload' [upload-filter]='beforeUpload.bind(this)' (success)='handleFileSuccess($event)'>
          <ng-template #trigger>
            <el-button size='small' type='success'>上传</el-button>
          </ng-template>
          <ng-template #tip>
            <div>单个文件最大50MB，最多5个文件</div>
          </ng-template>
        </el-upload>
      </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='数据文件'>
        <el-upload [action]='upload' [upload-filter]='beforeUpload.bind(this)' (success)='handleFileSuccess($event)'>
          <ng-template #trigger>
            <el-button size='small' type='success'>上传</el-button>
          </ng-template>
          <ng-template #tip>
            <div>单个文件最大50MB，最多5个文件</div>
          </ng-template>
        </el-upload>
      </el-form-item>
    </div>
  </div>
</el-form>