<el-form [formGroup]="searchFrm" label-width="150px" [show-message]="true" >
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='企业名称' [error]='messageCtrl("comName")'>
        <el-input formControlName='comName' placeholder='请输入企业名称'></el-input>
        </el-form-item>
    </div>
    <div el-col span='9'>
      <el-form-item label='关键词' label-width='160px' [error]='messageCtrl("keyword")'>
        <el-input formControlName='keyword' placeholder='请输入关键词'></el-input>
        </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='平台'>
        <el-select placeholder='请选择平台' style='width:100%' popper-class='dmss-select' formControlName='platName'>
          <el-option *ngFor='let item of platList'
                     [label]='item.platName'
                     [value]='item.platName'></el-option>
        </el-select>
        </el-form-item>
    </div>
    <div el-col span='9'>
      <el-form-item label='发布时间' label-width='160px'>
        <div el-row>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("pubStartDate")'>
                  <el-date-picker formControlName='pubStartDate' placeholder='起始时间' (clear-click)='handleClearDataStart($event)'></el-date-picker>
            </el-form-item>
          </div>
          <div el-col span='2'>至</div>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("pubEndDate")'>
                  <el-date-picker formControlName='pubEndDate' placeholder='结束时间' (clear-click)='handleClearDataEnd($event)'></el-date-picker>
            </el-form-item>
          </div>
        </div>
        </el-form-item>
    </div>
  </div>
  <div el-row>
    <div el-col span='9'>
      <el-form-item label='数据采集时间'>
        <div el-row>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("dataCollectStartDate")'>
                  <el-date-picker formControlName='dataCollectStartDate' placeholder='起始时间' (clear-click)='handleClearDataColStart($event)'></el-date-picker>
            </el-form-item>
          </div>
          <div el-col span='2'>至</div>
          <div el-col span='11'>
            <el-form-item  label-width='0px' [error]='messageCtrl("dataCollectEndDate")'>
                  <el-date-picker formControlName='dataCollectEndDate' placeholder='结束时间' (clear-click)='handleClearDataColEnd($event)'></el-date-picker>
            </el-form-item>
          </div>
        </div>
        </el-form-item>
    </div>
  </div>
  <div el-row>
      <el-form-item label-width='150px'>
        <el-button type='success' size='large' (click)='handleSearch()'>查询</el-button>
      </el-form-item>
  </div>
</el-form>
<el-button type='success' (click)='handleExport()'>导出</el-button>
<el-table [model]='asdList' center='all'>
  <el-table-column label='企业名称' model-key='comName'></el-table-column>
  <el-table-column label='店铺名称' model-key='shopName'></el-table-column>
  <el-table-column label='商品名称' model-key='productName'></el-table-column>
  <el-table-column label='平台名称' model-key='platName'></el-table-column>
  <el-table-column label='URL'>
    <ng-template #slot let-scope='scope'>
      <a [href]="scope.rowData.productURL" target="blank">{{scope.rowData.productURL}}</a>
    </ng-template>
  </el-table-column>
  <el-table-column label='涉及违禁词' model-key='illegalWord'></el-table-column>
  <el-table-column label='违禁词数量' model-key='illegalWordCnt'></el-table-column>
  <el-table-column label='涉嫌违法行为' model-key='illegalDesc'></el-table-column>
  <el-table-column label='对应法规' model-key='lawsRuleDesc'></el-table-column>
  <el-table-column label='发布时间' model-key='productPubDate'></el-table-column>
  <el-table-column label='数据采集时间' model-key='dataCollectDate'></el-table-column>
  <el-table-column label='操作'>
    <ng-template #slot let-scope='scope'>
      <el-button type='text' size='small' (click)='handleDetail(scope)'>详情</el-button>
    </ng-template>
  </el-table-column>
</el-table>
<el-pagination [total]='page.recordTotal' [page-sizes]='[10,20,30,40]' 
  [layout]="['prev', 'pager', 'next', 'size', 'total']" (modelChange)='handlePageNum($event)'></el-pagination>