<div class="aside-container">
    <el-menu [model]="activeIndex" class="el-menu-vertical-demo" background-color='#304156' text-color='#fff'>
      <div *ngFor='let item of menu'>
        <el-submenu *ngIf='item.subMenuList.length > 0' [index]='item.id'>
          <ng-template #title>
            <i class="el-icon-message"></i>{{item.menuName}}
          </ng-template>
          <el-menu-item-group>
            <el-menu-item [index]='subItem.id' *ngFor='let subItem of item.subMenuList' [to]='"/layout" + item.menuUrl + "/" + subItem.menuUrl'>
              {{subItem.menuName}}
            </el-menu-item>
          </el-menu-item-group>
        </el-submenu>
        <el-menu-item *ngIf='item.subMenuList.length === 0' [index]='item.id'  [to]='"/layout" + item.menuUrl'>
          <i class="el-icon-setting"></i>
          {{item.menuName}}
        </el-menu-item>
      </div>
    </el-menu>
</div>
