<div class="el-content">
<el-form [formGroup]="pwdFrm" label-width="150px" [show-message]="true" class='pwdFrm'>
  <el-form-item label="旧密码" [required]="true"
    [status]="statusCtrl('oldPassword')" [error]="messageCtrl('oldPassword')">
    <el-input formControlName="oldPassword" style='width:500px' placeholder='请输入旧密码'></el-input>
  </el-form-item>
  <el-form-item label="新密码" [required]="true"
    [status]="statusCtrl('newPassword')" [error]="messageCtrl('newPassword')">
    <el-input formControlName="newPassword" style='width:500px' placeholder='请输入新密码'></el-input>
  </el-form-item>
  <el-form-item label="确认新密码密码" [required]="true"
    [status]="statusCtrl('newCheckPassword')" [error]="messageCtrl('newCheckPassword')">
    <el-input formControlName="newCheckPassword" native-type="password" style='width:500px' placeholder='请输入确认密码'></el-input>
  </el-form-item>
  <el-form-item>
    <el-button type="primary" (click)="submit()">修改</el-button>
  </el-form-item>
</el-form>
</div>
