/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(assets/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(assets/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
    url(assets/iconfont/MaterialIcons-Regular.woff) format('woff'),
    url(assets/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;*/

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
@import "~normalize.css/normalize.css";
@import "~element-angular/theme/index.css";
html,body,.el-container{
  height: 100%;
  min-width: 1380px;
}
.el-header .user .el-dropdown span{
  color: #fff;
}
.el-select-dropdown.dmss-select .el-scrollbar__view.el-select-dropdown__list {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.el-main{
  background-color: #eff3f6;
  overflow-x: hidden;
}
.el-content{
  border:1px solid #e6eaee;
  background-color: #fff;
}
.el-content-header{
  border-bottom:1px solid #e6eaee;
  height: 60px;
  line-height: 60px;
}
.el-content-header .el-button.el-right{
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}
.el-content-header .el-button.el-back{
  background:transparent;
  color:#2399f2;
  text-decoration: underline;
  border:none;
}
.el-table{
  width: 100% !important;
}
.el-pagination{
  width: 100%;
  text-align: center;
  position: relative;
}
.el-pagination__total.ng-star-inserted{
  position: absolute;
  left: 10px;
}
.el-content el-pagination-size{
  position: absolute;
  left: 100px;
}
.aside-container .el-menu{
  border-right: 0;
}